html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  background: #212121;
}

#png-stream {
  width: 100%;
  height: 100%;
  /* We have to use pixelated because Chrome doesn't have support for crisp-edges */
  image-rendering: pixelated;
  object-fit: contain;
}
